@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP .NET WebApp!</h1>
    <p>Hey this a Sunday WebApp build by Sujit, How's your day going?'</a>.</p>
</div>
